.home {
  width: 100%;
  background-color: grey;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.65)
    ),
    url("https://images.pexels.com/photos/66284/winter-nature-season-trees-66284.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  /* opacity: 0.2; */
}

.home_card {
  margin-top: 70px;
  padding-top: 10rem;
}

.home_text_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* background-color: red; */
}
.home_text_cont p,
.home_text_cont h1 {
  max-width: 600px;
}
.home_text_cont h1 {
  font-size: 35px;
  font-weight: 600;
  margin: 30px 0;
  letter-spacing: 2px;
}
.home_text_cont p {
  font-weight: 500;
  letter-spacing: 0.5px;
}
