.news_details {
  width: 100%;
  padding-top: 80px;
}
.news_details_card {
  border-top: 1px solid rgb(225, 225, 225);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news_cont {
  flex: 0.98;
  width: 300px;
  /* padding: 20px 10px; */
  border-right: 1px solid rgb(225, 225, 225);
}
.suggestions_list {
  display: flex;
  width: 300px;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}
.suggestions_list::-webkit-scrollbar {
  display: none;
}

.news_img {
  width: 100%;
  height: 360px;
}
.news_title {
  padding-bottom: 10px;
  padding-top: 5px;
  color: var(--main-black);
}
.news_text {
  letter-spacing: 0.5px;
  font-weight: 600;
  color: rgb(131, 131, 131);
}
.author_and_date {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
}
.author {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--primary);
}
.date {
  font-size: 12px;
  font-weight: 300;
  padding-right: 5px;
  color: grey;
  margin-left: 15px;
}
.btns_cont {
  display: flex;
  align-items: center;
  justify-content: left;
}
.read_more_btn {
  width: 100px;
  height: 30px;
  background-color: var(--primary);
  color: var(--main-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border);
  margin: 10px 0;
  font-size: 13px;
  letter-spacing: 0.4px;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .news_details_card {
    flex-direction: column;
  }
  .news_cont {
    width: 100%;
  }
  .suggestions_list {
    padding: 50px 0;
    width: 100%;
    align-items: center;
    overflow-y: hidden;
    height: auto;
  }
}
