.news {
  width: 100%;
  /* padding-top: 80px; */
}

.news_card {
  width: 100%;
}

.news_list {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
