.loading_modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    rgba(227, 227, 227, 0.55),
    rgba(210, 210, 210, 0.55)
  );
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.dot1,
.dot2,
.dot3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 3px;
  background-color: var(--main-white);
  opacity: 0.5;
}
.dot1 {
  animation: dot 1s forwards infinite;
}
.dot2 {
  animation: dot 1s forwards infinite;
}
.dot3 {
  animation: dot 1s forwards infinite;
}

/* ////////// ANIMATIONS ////////// */

@keyframes dot {
  0% {
    background-color: var(--main-white);
    opacity: 0.5;
    margin-bottom: 2px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}
