@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-white: #fff;
  --main-black-dark: #000;
  --main-black-light: rgb(132, 132, 132);
  --primary: rgb(255, 0, 136);
  --border: 3px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
